<section class="seccion-informe py-4 py-md-5" id="informe">
  <div class="container text-center">
    <div class="titulo-informe text-start">Informe de Financiamiento.</div>
    <div class="row justify-content-center flex-wrap">
      <div class="col-6 col-md-3 barra-informe mb-2">
        <div class="texto-superior-informe">01. Cliente</div>
        <div class="texto-inferior-informe" id="informe-cliente"></div>
      </div>
      <div class="col-6 col-md-3 barra-informe-quiebre mb-2">
        <div class="texto-superior-informe">02. Importe solicitado</div>
        <div class="texto-inferior-informe" id="informe-importe"></div>
      </div>
      <div class="col-6 col-md-3 barra-informe mb-2">
        <div class="texto-superior-informe">03. Plazo</div>
        <div class="texto-inferior-informe" id="informe-plazo"></div>
      </div>
      <div class="col-6 col-md-3 mb-2">
        <div class="texto-superior-informe">04. Cuota mensual</div>
        <div class="texto-inferior-informe" id="informe-cuotas"></div>
      </div>
    </div>
    <div class="nota text-start mt-4">
      * El importe solicitado incluye la tasa de interés bancaria del 6,5%
      mensual
    </div>
  </div>
</section>
