/* Header */
header {
  background-color: var(--verde-bg-color);
  font-family: var(--font-titulos);
  padding: 10px;
}
header img {
  width: 50px;
  height: 50px;
}
.nav-link {
  color: var(--blanco-color);
  font-family: var(--font-titulos);
}
